.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  background-color: blue;
  width: 100vw;
  height: 550px;
  text-align: center;
}

.article {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.section1 {
  background-color: gray;
  width: 100vw;
  height: 400px;
  text-align: center;
}

.article1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.section2 {
  background-color: blue;
  width: 100vw;
  height: 140px;
  text-align: center;
}
