.titleCategoryContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  appearance: none;
}

.submitBtn {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
}

.submitBtn:hover {
  background: #0056b3;
}

.message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.success {
  background-color: lightgreen;
  color: green;
}

.error {
  background-color: lightcoral;
  color: red;
}
