.container {
  background-color: rgb(4, 4, 23);
  color: white;
  width: 100vw;
  height: 100%;
  text-align: center;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
  border-bottom: 5px solid #162481;
  padding-bottom: 10px;
  margin-top: 80px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  gap: 10px;
  justify-content: center;
  margin-top: 80px;
}

.gridItem {
  width: 320px;
  height: 130px;
  background-color: transparent;
  color: white;
  border: 1px solid #7c7c7c;
}

.gridItemPost {
  display: flex;
  justify-content: space-between; /* 글과 이미지를 좌우 배치 */
  width: 100%;
  padding: 10px;
  gap: 20px;
}

.gridItemPost h1 {
  font-size: 18px;
  margin: 0;
  text-align: left;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 최대 3줄까지 표시 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(1.2em * 3); /* 줄 간격 * 3줄 */
}

.gridItemPost img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

.created {
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
}

.solutionMail {
  width: 980px;
  height: 400px;
  background-color: #232424;
  margin: 0 auto;
  margin-top: 40px;
}
