.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 90%;
  height: 80%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.todayTime {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #000;
}
.ttTrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.ttt {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 12px 20px;
}
.tTh2 {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  margin: 0;
}
.line {
  width: 2px;
  height: 60px;
  background-color: gray;
  border-radius: 2px;
}

.modalChart {
  width: 95%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.tabButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.tabButtons h2 {
  margin-left: 30px;
}
.tabButtons span {
  color: #3b82f6;
  margin-left: 5px;
}
.buttonGroup {
  display: flex;
  gap: 0.5rem;
  margin-right: 20px;
}

.tabButton {
  padding: 0.5rem 1rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  background-color: #fff;
}

.tabButtonActive {
  color: #3b82f6;
  border-bottom: 1px solid #3b82f6;
}
