.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  background-color: #040417;
}

.imageWrapper {
  width: 1000px;
  height: 500px;
  position: relative;
  margin: 0 auto;
}

.firstDes {
  position: absolute;
  top: 40%;
  left: 66.1%;
  transform: translate(-50%, -50%);
  background-color: #1a9c9d99;
  color: white;
  text-align: center;
  width: 678px;
  height: 276px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.firstDesWrapper {
  width: 560px;
  height: 200px;
  text-align: left;
}
.firstDes h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}
.leftAlignContent {
  color: white;
  margin: 0 auto;
}
.leftAlignContent p {
  line-height: 1.5;
  font-size: 15px;
}

.second {
  width: 100vw;
  height: 100%;
  background-color: #d1e0ee;
}
.secondWrapper {
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.solution1 {
  width: 950px;
  height: 360px;
  margin-top: 40px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.solution1 > div {
  flex: 1;
}

.solution1 img {
  flex-shrink: 0;
}
.solution1 h2 {
  font-size: 32px;
  font-weight: bold;
}
.solution1 h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}
.solution1 p > strong {
  font-size: 13px;
  font-weight: bold;
}
.solution1 p {
  line-height: 1.8;
  margin-top: 25px;
  font-size: 12.5px;
}

.solution2 {
  width: 950px;
  height: 270px;
  margin-top: 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 50px;
}

.solution2 > div {
  flex: 1;
}

.solution2 img {
  flex-shrink: 0;
}

.solution2 h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  text-align: right;
}
.solution2 p {
  line-height: 1.8;
  margin-top: 25px;
  font-size: 12.5px;
  text-align: left;
}
