.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 26, 74);
  color: white;
  z-index: 1000;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.headerInputLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
}
.headerInputBox {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  gap: 12px;
  padding-left: 10px;
}
.headerInput {
  width: 173px;
  height: 35px;
  background-color: rgb(19, 26, 74);
  font-size: 14px;
}
.headerInput::placeholder {
  color: #fff;
}

.loginPartner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.login {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 12px;
  padding-left: 36px;
}
.partner {
  display: block;
}

.notificationBadge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0px 8px;
  font-size: 16px;
  margin-left: 10px;
}

.menuContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
}

.logo {
  width: 176px;
  height: 52px;
}

.nav {
  display: flex;
  position: relative;
}

.ul {
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.li {
  position: relative;
  cursor: pointer;
}
.li:hover {
  color: #4ceed0;
}
.dropdownMenu {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background-color: rgb(41, 49, 119);
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1000;
  width: auto;
  max-width: 400px;
  font-size: 15px;
  white-space: nowrap;
}
.dropdownMenu::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background: transparent;
}

.dropdownMenu li {
  padding: 16px 10px;
  box-sizing: border-box;
}

.dropdownMenu li a {
  text-decoration: none;
  color: white;
  display: block;
}

.dropdownMenu li a:hover {
  color: #4ceed0;
}

.dropdown:hover .dropdownMenu {
  display: block;
}
.subDropdown {
  position: relative;
}
.subDropdown:hover > a {
  color: #4ceed0;
}

.subDropdown:hover .subMenu {
  display: block;
}

.subMenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: rgb(41, 49, 119);
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1000;
  width: auto;
  max-width: 300px;
}

.menu {
  background-color: rgb(10 76 130);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36, 42, 87, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 100vh;
}
.modalContainer h2 {
  color: white;
  font-size: 19px;
  line-height: 1.6;
  font-weight: bolder;
}
.modalContainer h3 {
  color: #394ace;
  font-size: 18px;
}
.modalContainer p {
  color: #c6c9e8;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
}
.modalHeader {
  width: 900px;
  height: 50px;
  border-bottom: 2px solid #c6c9f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalHeader nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.modalContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 900px;
}
.software {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 10px;
}
.softwareTitle {
  display: block;
}
.softwareContent {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
}
.hardware {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hardwareTitle {
}
.hardwareContent {
  padding: 0 20px;
}
.designSoftware {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.designSoftwareTitle {
}
.designSoftwareContent {
  padding: 0 20px;
}
.modalClose {
  cursor: pointer;
  position: absolute;
  top: 150px;
  right: 0;
}

.hamburger {
  display: none;
}
.navMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.navMenu.open {
  transform: translateX(0);
}

.navMenu ul {
  list-style: none;
  text-align: center;
}

.navMenu li {
  font-size: 24px;
  color: white;
  margin: 20px 0;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*최소 크기 768px 최대 크기 1024px*/
  .header {
    margin: 0;
    padding: 0;
  }
  .headerInputBox {
    display: none;
  }
  .headerInputLogo {
    width: 100%;
    padding: 0 40px;
  }
  .loginPartner {
    width: 100%;
    display: flex; /* flexbox 적용 */
    flex-direction: row-reverse; /* 요소들의 순서 반대로 변경 */
  }
  .menuContainer {
    margin-top: 10px;
    width: 100%;
    padding: 0 20px;
  }
  .nav {
    display: none; /* 모바일에서 메뉴 숨기기 */
  }
  .hamburger {
    display: block;
    position: relative;
    padding-right: 20px; /* 화면 오른쪽에서 50px 떨어지게 */
    z-index: 1100; /* navMenu보다 위에 배치 */
    cursor: pointer;
  }

  .dropdownMenu {
    position: static;
    display: none;
    background: none;
    box-shadow: none;
  }

  .show {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  /*최대 크기 480px*/
  .header {
    margin: 0;
    padding: 0;
  }
  .headerInputBox {
    display: none;
  }
  .headerInputLogo {
    width: 100%;
    padding: 10px 40px;
  }
  .loginPartner {
    width: 100%;
    display: flex; /* flexbox 적용 */
    flex-direction: row-reverse; /* 요소들의 순서 반대로 변경 */
  }
  .menuContainer {
    margin-top: 10px;
    width: 100%;
    padding: 0 20px;
  }
  .nav {
    display: none; /* 모바일에서 메뉴 숨기기 */
  }
  .hamburger {
    display: block;
    position: relative;
    padding-right: 20px; /* 화면 오른쪽에서 50px 떨어지게 */
    z-index: 1100; /* navMenu보다 위에 배치 */
    cursor: pointer;
  }

  .dropdownMenu {
    position: static;
    display: none;
    background: none;
    box-shadow: none;

    /* 스크롤 적용 */
    max-height: 300px; /* 또는 원하는 높이 */
    overflow-y: auto;

    /* 스크롤바 스타일(optional) */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #888 #f1f1f1; /* Firefox */
  }

  .dropdownMenu::-webkit-scrollbar {
    width: 6px;
  }

  .dropdownMenu::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 3px;
  }

  .dropdownMenu::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .dropdownMenu li {
    margin: 0;
    padding: 4px 0; /* 위아래 간격 줄임 */
    line-height: 1.4;
  }

  .show {
    display: block;
  }

  .notificationBadge {
    display: inline-block;
    margin-top: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 16px;
  }
}
