.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 26, 74);
  color: white;
  z-index: 1000;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.headerInputLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
}
.headerInputBox {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  gap: 12px;
  padding-left: 10px;
}
.headerInput {
  width: 173px;
  height: 35px;
  background-color: rgb(19, 26, 74);
  font-size: 14px;
}
.headerInput::placeholder {
  color: #fff;
}

.loginPartner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.login {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 12px;
  padding-left: 6rem;
}
.partner {
  display: block;
}

.menuContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
}

.logo {
  width: 176px;
  height: 52px;
}

.nav {
  display: flex;
}

.ul {
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.li {
  cursor: pointer;
}
.li:hover {
  color: #4ceed0;
}

.menu {
  background-color: rgb(10 76 130);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
}
