.header {
  width: 100vw;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1dde9;
}

.nav {
  display: flex;
}

.ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.li {
  margin: 0;
}
