.header {
  width: 100vw;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 26, 74);
  color: white;
}

.headerContainer {
  display: flex;
}

.headerInputLogo {
}

.headerInputBox {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  gap: 12px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.headerInput {
  width: 193px;
  height: 35px;
  background-color: rgb(19, 26, 74);
  font-size: 14px;
}
.headerInput::placeholder {
  color: #fff;
}

.logo {
  background-color: aquamarine;
  width: 176px;
  height: 52px;
}

.menuContainer {
}

.loginPartner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login {
  font-size: 14px;
  margin-left: 2rem;
}
.partner {
}

.nav {
  display: flex;
}

.ul {
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}

.li {
  margin: 0;
}

.menu {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 60px;
  height: 34px;
  background-color: rgb(10 76 130);
}
