.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first {
  width: 100vw;
  height: 100%; /* 부모 컨테이너의 명시적 높이 */
  overflow: hidden;
}

.imageWrapper {
  width: 100vw;
  height: 600px; /* 부모의 높이를 100%로 채움 */
  position: relative;
}

.firstDes {
  position: absolute;
  top: 40%; /* 이미지의 중앙에 배치 */
  left: 60%;
  transform: translate(-50%, -50%); /* 가운데 정렬 */
  background-color: #1a9c9d99;
  color: white; /* 텍스트 색상 */
  text-align: center; /* 텍스트 정렬 */
  width: 750px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.firstDesWrapper {
  width: 600px;
  height: 300px;
}
.firstDes h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}
.leftAlignContent {
  text-align: left; /* 텍스트를 왼쪽으로 정렬 */
  color: white; /* 텍스트 색상 유지 */
  margin: 0 auto; /* 중앙 배치 */
}
.leftAlignContent h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.leftAlignContent p {
  line-height: 1.8;
  font-size: 16px;
}

.second {
  width: 100vw;
  height: 950px;
  background-color: #0f2a44;
  display: flex;
  justify-content: center;
}
.secondWrapper {
  width: 1000px;
  height: auto;
  margin-top: 70px;
}

.secondWrapper h2 {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.secondGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3개의 열로 배치 */
  gap: 20px; /* 각 카드 사이의 간격 */
  justify-content: center;
  margin-top: 40px;
}

.grid {
  width: 330px;
  height: 360px;
  background-color: #f0f0f0;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
}

.gridDes {
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.textOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px; /* 초기 높이 */
  background-color: white;
  padding: 20px;
  text-align: left;
  overflow: hidden;
  transition:
    height 0.4s ease-in-out,
    transform 0.4s ease-in-out;
}

.textOverlay h3 {
  font-size: 23px;
  font-weight: bold;
  color: #138f8f;
}

.textOverlay p {
  margin-top: 20px;
  font-size: 14px;
  color: #000;
  line-height: 1.5;
}

.detailButton {
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #138f8f;
  opacity: 0; /* 초기에는 숨김 */
  transition:
    opacity 0.3s ease,
    transform 0.3s ease-in-out;
}
/* Hover 시 추가 효과 */
.grid:hover .textOverlay {
  height: 150px; /* 높이를 확장하여 숨겨진 버튼을 표시 */
}

.grid:hover .detailButton {
  opacity: 1; /* 버튼 보이기 */
}

.third {
  width: 100vw;
  height: 450px;
  background-color: #d1e0ee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.siemens {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 좌우 정렬 */
  width: 1000px;
  height: 380px;
}

.siemensDes {
  flex: 1; /* 텍스트가 공간을 적절히 차지하도록 설정 */
  padding-right: 20px; /* 이미지와 간격 추가 */
}

.siemensDes h2 {
  font-size: 32px;
  font-weight: bold;
}
.siemensDes h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.siemensDes p {
  font-size: 14px;
  line-height: 1.8;
  margin-top: 40px;
}
.siemensDes button {
  width: 142px;
  height: 40px;
  background-color: #109c9c;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}

.siemensDes button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.siemensImage {
  width: 370px; /* 고정된 너비 */
  height: 210px; /* 고정된 높이 */ /* 전체 높이를 차지하도록 설정 */
  position: relative;
}

.siemensImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
