.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup {
  width: 600px;
  height: 600px;
  background: #fff;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 28px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
