.container {
  width: 900px;
  height: 600px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #fff;
  color: black;
  padding: 20px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* 모달 박스 */
.modal {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  max-height: 80vh;
  overflow-y: auto;
}

/* 닫기 버튼 */
.closeButton {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
