.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 900px;
  margin: 0 auto;
}

.titleWrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 20px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: #162481;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  flex-shrink: 0;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.contant {
  margin-left: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.contentTitle {
  display: flex;
  margin-bottom: 15px;
  font-weight: bold;
}

.contantSquare {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  margin-right: 10px;
  border-radius: 5px;
}
.description {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

.descriptionText {
  color: #adb4e3;
  font-size: 14px;
}

.moreButton {
  font-size: 12px;
  font-weight: bold;
  width: 116px;
  height: 24px;
  background-color: #181851;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.moreButton:hover {
  background-color: #000;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .description {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .description {
    display: flex;
    flex-direction: column;
  }
}
