.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
}

.firstWrapper {
  width: 100vw;
  height: 900px;
  background-color: #06062c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstContent {
  text-align: right;
  width: 1000px;
  height: auto;
  color: white;
}
.firstContent h2 {
  font-size: 32px;
  font-weight: bold;
}
.firstContent h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}

.firstImgP {
  display: flex;
  margin-top: 30px;
}

.firstImg {
  position: relative;
  width: 528px;
  height: 450px;
  margin-right: 20px;
}

.firstDes {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  text-align: left;
  font-size: 13px;
}

.firstDes p:nth-of-type(n + 2) {
  margin-top: 15px;
}

.firstDes button {
  margin-top: auto;
  align-self: flex-end;
  width: 140px;
  height: 40px;
  background-color: #138f8f;
  font-weight: bold;
}
.firstDes button:hover {
  background-color: white;
  color: black;
}

.secondWrapper {
  width: 100vw;
  height: 700px;
  background-color: #0f2a44;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondContent {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;

  color: white;
  gap: 70px;
}
.secondContent h2 {
  font-size: 32px;
  font-weight: bold;
}

.secondDes {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.secondDes > div {
  display: flex;
  gap: 5px;
}

.secondDes h3 {
  font-size: 38px;
  margin: 0;
  color: #3cffda;
  font-weight: bold;
}

.secondDes div p {
  font-size: 14px;
  margin: 0;
  line-height: 1.5;
  word-wrap: break-word;
}

.thirdWrapper {
  width: 100vw;
  height: 500px;
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdContent {
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.thirdContent h2 {
  font-size: 28px;
  font-weight: bold;
}
.thirdSubContent {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  color: #003663;
}
.thirdImgDes p {
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}

.thirdImg {
  width: 510px;
  height: 270px;
  position: relative;
}

.thirdDes {
  display: flex;
  gap: 20px;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 30px;
}

.thirdDes div {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
}

.thirdDes ul {
  padding-left: 20px;
}

.thirdDes li {
  list-style-type: disc;
  line-height: 1.5;
}

.thirdImgP {
  display: flex;
  margin-top: 30px;
  width: 1000px;
  height: auto;
}

.thirdImg2 {
  position: relative;
  width: 310px;
  height: 210px;
  margin-right: 20px;
}

.thirdDes2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  text-align: left;
  font-size: 13px;
  gap: 20px;
  margin-right: 30px;
}
.thirdDes2 h3 {
  font-size: 20px;
  font-weight: bold;
}
.thirdDes2 p {
  font-size: 14px;
  line-height: 1.5;
}
.thirdDesUl {
  display: flex;
  margin-top: 30px;
  gap: 10px;
}

.thirdDesUl ul {
  padding-left: 20px;
}
.thirdDesUl li {
  list-style-type: disc;
  line-height: 2;
}

.four {
  width: 100vw;
  height: 1000px;
  background-color: #0f2a44;
  display: flex;
  justify-content: center;
}
.fourWrapper {
  width: 1000px;
  height: auto;
  margin-top: 70px;
}

.fourWrapper h2 {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.fourGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: center;
  margin-top: 40px;
}

.grid {
  width: 300px;
  height: 360px;
  background-color: #f0f0f0;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
}

.gridDes {
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.textOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  background-color: white;
  padding: 20px;
  text-align: left;
  overflow: hidden;
  transition:
    height 0.4s ease-in-out,
    transform 0.4s ease-in-out;
}

.textOverlay h3 {
  font-size: 20px;
  font-weight: bold;
  color: #138f8f;
  line-height: 1.2;
}

.textOverlay p {
  margin-top: 20px;
  font-size: 12.5px;
  color: #000;
  line-height: 1.5;
}

.detailButton {
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #138f8f;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease-in-out;
}

.grid:hover .textOverlay {
  height: 160px;
}

.grid:hover .detailButton {
  opacity: 1;
}
