.container {
  background-color: rgb(4, 4, 23);
  color: white;
  width: 100vw;
  height: 100%;
  text-align: center;
}
.wrapper {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
  border-bottom: 5px solid #162481;
  padding-bottom: 10px;
  margin-top: 80px;
}

.gridContainer {
  margin-top: 100px;
  width: 800px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  box-sizing: border-box;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  cursor: pointer;
}
.grid p {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.grid img {
  transition: opacity 0.3s ease; /* 부드러운 전환 효과 */
}

.grid img:hover {
  opacity: 0.5; /* 호버 시 불투명도 적용 */
}

.brochureMovie {
  margin-top: 80px;
}

.movieContent {
  background-color: white;
  width: 100vw;
  height: 400px;
}
