.table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 20px;
  border-spacing: 0;
}

.table th,
.table td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}
.table th {
  background-color: #f0f0f0;
}

.table tr:hover {
  background-color: #f9f9f9;
}

.views {
  display: flex;
  align-items: center;
  gap: 5px;
}

.views svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
