.table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 20px;
  border-spacing: 0;
}

.table th,
.table td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}
.table th {
  background-color: #f0f0f0;
}

.table tr:hover {
  background-color: #f9f9f9;
}

.postLink {
  color: black;
  text-decoration: none;
  display: inline-block;
  max-width: 500px; /* 필요에 따라 조정 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.postLink:hover {
  /* color: rgb(32, 108, 194); */
  color: rgb(24, 94, 175);
}
.views {
  display: flex;
  align-items: center;
  gap: 5px;
}

.views svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageButton {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pageButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pageButton:hover:not(:disabled) {
  background-color: #005bb5;
}

.pageInfo {
  font-size: 16px;
  margin: 0 10px;
}

/* 반응형: 480px 이하 화면 대응 */
@media screen and (max-width: 480px) {
  .table {
    width: 100%;
    font-size: 14px;
    overflow-x: auto;
    white-space: nowrap;
  }

  .table th,
  .table td {
    font-size: 14px;
    padding: 8px;
  }

  .hideOnMobile {
    display: none;
  }

  .postCategory {
    max-width: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .postLink {
    max-width: 150px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }

  .views svg {
    width: 14px;
    height: 14px;
  }

  .pagination {
    gap: 8px;
  }

  .pageButton {
    padding: 8px 12px;
    font-size: 14px;
  }

  .pageInfo {
    font-size: 14px;
  }
}
