.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
}

.firstWrapper {
  width: 100vw;
  height: 700px;
  background-color: #06062c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstContent {
  text-align: right;
  width: 1000px;
  height: auto;
  color: white;
}
.firstContent h2 {
  font-size: 32px;
  font-weight: bold;
}
.firstContent h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}

.firstImgP {
  display: flex;
  margin-top: 30px;
}

.firstImg {
  position: relative;
  width: 528px;
  height: 450px;
  margin-right: 20px;
}

.firstDes {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  text-align: left;
  font-size: 13px;
}

.firstDes p:nth-of-type(n + 2) {
  margin-top: 15px;
}

.firstDes button {
  margin-top: auto;
  align-self: flex-end;
  width: 140px;
  height: 40px;
  background-color: #138f8f;
  font-weight: bold;
}
.firstDes button:hover {
  background-color: white;
  color: black;
}

.secondWrapper {
  width: 100vw;
  height: 500px;
  background-color: #0f2a44;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondContent {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;

  color: white;
  gap: 70px;
}
.secondContent h2 {
  font-size: 32px;
  font-weight: bold;
}

.secondDes {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.secondDes > div {
  display: flex;
  gap: 5px;
}

.secondDes h3 {
  font-size: 38px;
  margin: 0;
  color: #3cffda;
  font-weight: bold;
}

.secondDes div p {
  font-size: 14px;
  margin: 0;
  line-height: 1.5;
  word-wrap: break-word;
}
.secondDes div p > strong {
  font-weight: bold;
}

.thirdWrapper {
  width: 100vw;
  height: 1000px;
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdContent {
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.thirdContent h2 {
  font-size: 28px;
  font-weight: bold;
}

.thirdDes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  line-height: 1.5;
}
.thirdDes p > strong {
  font-weight: bold;
}

.thirdImgP {
  margin: 0 auto;
  margin-top: 30px;
  width: 970px;
  height: auto;
  display: flex;
  gap: 40px;
}

.thirdDes2 {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  text-align: left;
  font-size: 14px;
  gap: 20px;
}
.thirdDes2 h3 {
  font-size: 20px;
  font-weight: bold;
}
.thirdDes2 p {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
}

.thirdDes2 div {
  width: 450px;
  height: auto;
  color: black;
  margin: 0 auto;
}
.thirdDes2 div ul {
  padding-left: 40px;
}
.thirdDes2 div li {
  list-style-type: disc;
  line-height: 2;
}
.thirdDes2 div li > strong {
  font-weight: bold;
}
.thirdDes2 div p {
  margin: 10px 0;
  font-weight: 500;
}

.thirdImgP2 {
  display: flex;
  width: 950px;
  height: auto;
  text-align: center;
}
.thirdImgP2Wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.thirdImgP2Wrapper:first-child .thirdImg2 {
  margin-right: 20px;
}

.thirdImg2 {
  width: 475px;
  height: 345px;
  background-color: #ccc;
  margin-top: 10px;
  position: relative;
}
.thirdImgP3 {
  margin-top: 20px;
  text-align: center;
}
.thirdImgP3 h3 {
  margin-top: 20px;
}
.thirdImg3 {
  width: 970px;
  height: 650px;
  background-color: #ccc;
  position: relative;
}

.fourWrapper {
  width: 100vw;
  height: 2900px;
  background-color: #d1e0ee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourContent {
  width: 1000px;
  height: auto;
}
.fourContent h2 {
  font-size: 32px;
  font-weight: bold;
}
.fourImgP1 {
  display: flex;
  margin-bottom: 50px;
}

.fourDes1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 2;
  text-align: left;
  font-size: 13px;
  gap: 20px;
  margin-right: 20px;
}
.fourDes1 h3 {
  font-size: 18px;
  font-weight: bold;
}
.fourDes1 ul {
  padding-left: 20px;
}
.fourDes1 li {
  list-style-type: disc;
}

.fourImg1Wrapper {
  width: 440px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.fourImg1 {
  position: relative;
  width: 460px;
  height: 300px;
}
.fourImg1P1 {
  font-size: 11px;
  line-height: 1.5;
}

.fourImgP2 {
  display: flex;
  flex-direction: row-reverse;
}

.fourDes2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 2;
  text-align: left;
  font-size: 13px;
  gap: 20px;
  margin-left: 20px;
}
.fourDes2 h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}
.fourDes2 ul {
  padding-left: 20px;
}
.fourDes2 li {
  list-style-type: disc;
}

.fourImg2 {
  position: relative;
  width: 460px;
  height: 300px;
  margin-right: 30px;
}

.additionalContent {
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 13px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fourImgP3 {
  width: 1000px;
  height: auto;
  margin-top: 40px;
}
.fourDes3 {
  font-size: 13px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fourDes3 h3 {
  font-size: 18px;
  font-weight: bold;
}

.fourImg3 {
  position: relative;
  width: 950px;
  height: 340px;
  background-color: #ccc;
  margin-top: 20px;
}

.fiveWrapper {
  width: 100vw;
  height: 1000px;
  background-color: #00305b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fiveContent {
  width: 1000px;
  height: auto;
}

.fiveHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.fiveHeader h2 {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-right: 50px;
}

.fiveHeader button {
  width: 120px;
  height: 30px;
  background-color: #191919;
  color: white;
  border: 1px solid white;
  font-size: 13px;
  font-weight: bold;
}
.fiveHeader button:hover {
  background-color: white;
  color: black;
}

.fiveImgGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  height: auto;
}
.fiveImgP {
  margin-top: 50px;
}

.fiveImg1 {
  width: 390px;
  height: 300px;
  position: relative;
}

.fiveDes1 {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.fiveDes1 h3 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.contantSquare {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  margin-right: 10px;
  border-radius: 5px;
}

.imageD {
  position: relative;
  width: 430px;
  height: 274px;
  margin-right: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .firstWrapper {
    height: auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .firstContent {
    width: 100%;
    text-align: center;
  }

  .firstContent h2 {
    font-size: 28px;
  }

  .firstContent h1 {
    font-size: 32px;
    margin-top: 5px;
  }

  .firstImgP {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .firstImg {
    width: 100%;
    height: 350px;
    margin-right: 0;
  }

  .firstDes {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

  .firstDes p {
    margin-top: 10px;
  }

  .firstDes button {
    width: 100%;
    max-width: 180px;
    height: 40px;
    align-self: center;
    margin-top: 20px;
  }

  .secondWrapper {
    height: auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .secondContent {
    width: 100%;
    text-align: center;
    gap: 40px;
  }

  .secondContent h2 {
    font-size: 28px;
  }

  .secondDes {
    gap: 30px;
  }

  .secondDes > div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .secondDes h3 {
    font-size: 28px;
  }

  .secondDes div p {
    font-size: 16px;
    line-height: 1.4;
  }

  .thirdWrapper {
    height: auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .thirdContent {
    width: 100%;
  }

  .thirdContent h2 {
    font-size: 24px;
    text-align: center;
  }

  .thirdSubContent {
    width: 100%;
  }

  .thirdImg {
    width: 100%;
    height: 250px;
  }

  .thirdImgDes p {
    font-size: 16px;
  }

  .thirdDes {
    font-size: 14px;
    text-align: left;
    padding: 0 15px;
  }

  .thirdImgP {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .thirdImg2 {
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }

  .thirdDes2 {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    gap: 15px;
  }

  .thirdDes2 h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }

  .thirdDes2 p {
    font-weight: bold;
    font-size: 13px;
    line-height: 1.5;
  }

  .thirdDes2 div {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .thirdDes2 div ul {
    padding-left: 15px;
  }

  .thirdDes2 div li {
    list-style-type: disc;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .thirdDes2 div p {
    margin: 10px 0;
    font-weight: 500;
    font-size: 13px;
  }
  .fourWrapper {
    height: auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .fourContent {
    width: 100%;
  }
  .fourContent h2 {
    font-size: 32px;
    text-align: center;
  }
  .fourImgP1,
  .fourImgP2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    gap: 30px;
    margin-top: 70px;
  }
  .fourDes1,
  .fourDes2 {
    width: 100%;
    font-size: 14px;
    padding: 0 10px;
    margin: 0;
  }
  .fourDes1 h3,
  .fourDes2 h3 {
    font-size: 20px;
    text-align: center;
  }
  .fourImg1,
  .fourImg2,
  .fourImgD,
  .fourImgD2,
  .fourImgD3,
  .fourImgD4,
  .fourImgD5 {
    width: 100%;
    height: 200px;
    margin: 10px 0;
  }

  .fiveWrapper {
    height: auto;
    padding: 50px 0;
  }

  .fiveContent {
    width: 90%;
  }

  .fiveHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .fiveHeader h2 {
    font-size: 24px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .fiveHeader button {
    width: 120px;
    height: 40px;
    font-size: 14px;
  }

  .fiveImgGrid {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 15px;
    margin-top: 30px;
  }

  .fiveImgP {
    margin-top: 30px;
  }

  .fiveImg1 {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
  }

  .fiveDes1 h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .firstWrapper {
    height: auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .firstContent {
    width: 100%;
    text-align: center;
  }

  .firstContent h2 {
    font-size: 24px;
  }

  .firstContent h1 {
    font-size: 28px;
    margin-top: 5px;
  }

  .firstImgP {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .firstImg {
    width: 100%;
    height: 250px;
    margin-right: 0;
  }

  .firstDes {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

  .firstDes p {
    margin-top: 10px;
  }

  .firstDes button {
    width: 100%;
    max-width: 180px;
    height: 40px;
    align-self: center;
    margin-top: 20px;
  }

  .secondWrapper {
    height: auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .secondContent {
    width: 100%;
    text-align: center;
    gap: 40px;
  }

  .secondContent h2 {
    font-size: 24px;
  }

  .secondDes {
    gap: 30px;
  }

  .secondDes > div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .secondDes h3 {
    font-size: 28px;
  }

  .secondDes div p {
    font-size: 13px;
    line-height: 1.4;
  }

  .thirdWrapper {
    height: auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .thirdContent {
    width: 100%;
  }

  .thirdContent h2 {
    font-size: 22px;
    text-align: center;
  }

  .thirdSubContent {
    width: 100%;
  }

  .thirdImg {
    width: 100%;
    height: 250px;
  }

  .thirdImgDes p {
    font-size: 12px;
  }

  .thirdDes {
    font-size: 12px;
    text-align: left;
    padding: 0 15px;
  }

  .thirdImgP {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .thirdImg2 {
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }

  .thirdDes2 {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    text-align: left;
    font-size: 12px;
    gap: 15px;
  }

  .thirdDes2 h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .thirdDes2 p {
    font-weight: bold;
    font-size: 13px;
    line-height: 1.5;
  }

  .thirdDes2 div {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .thirdDes2 div ul {
    padding-left: 15px;
  }

  .thirdDes2 div li {
    list-style-type: disc;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .thirdDes2 div p {
    margin: 10px 0;
    font-weight: 500;
    font-size: 13px;
  }
  .fourWrapper {
    height: auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .fourContent {
    width: 100%;
  }
  .fourContent h2 {
    font-size: 28px;
    text-align: center;
  }
  .fourImgP1,
  .fourImgP2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    gap: 30px;
    margin-top: 70px;
  }
  .fourDes1,
  .fourDes2 {
    width: 100%;
    font-size: 12px;
    padding: 0 10px;
    margin: 0;
  }
  .fourDes1 h3,
  .fourDes2 h3 {
    font-size: 16px;
    text-align: center;
  }
  .fourImg1,
  .fourImg2,
  .fourImgD,
  .fourImgD2,
  .fourImgD3,
  .fourImgD4,
  .fourImgD5 {
    width: 100%;
    height: 200px;
    margin: 10px 0;
  }

  .fiveWrapper {
    height: auto;
    padding: 50px 0;
  }

  .fiveContent {
    width: 90%;
  }

  .fiveHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .fiveHeader h2 {
    font-size: 24px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .fiveHeader button {
    width: 120px;
    height: 40px;
    font-size: 14px;
  }

  .fiveImgGrid {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 15px;
    margin-top: 30px;
  }

  .fiveImgP {
    margin-top: 30px;
  }

  .fiveImg1 {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
  }

  .fiveDes1 h3 {
    font-size: 18px;
  }
}
