.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.imageWrapper {
  width: 100vw;
  height: 600px;
  position: relative;
}

.firstDes {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #1a9c9d99;
  color: white;
  width: 750px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.firstDesWrapper {
  width: 600px;
  height: auto;
}
.firstDes h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}
.leftAlignContent {
  text-align: left;
  color: white;
  margin: 0 auto;
}
.leftAlignContent h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.leftAlignContent p {
  line-height: 1.8;
  font-size: 16px;
}

.third {
  width: 100vw;
  height: 100%;
  background-color: #d1e0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.siemens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  height: 420px;
  gap: 70px;
  margin-top: 50px;
}
.siemensDes {
  flex: 1;
}

.siemensImage {
  width: 370px;
  height: 210px;
  position: relative;
}

.siemensDes h2 {
  font-size: 32px;
  font-weight: bold;
}
.siemensDes h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.siemensDes p {
  font-size: 12.5px;
  line-height: 1.8;
  margin-top: 40px;
}
.siemensDes span {
  margin-top: 20px;
  font-size: 12.5px;
  display: block;
}
.siemensDesUl {
  margin-top: 20px;
  padding-left: 20px;
}
.siemensDesUl li {
  list-style-type: disc;
  line-height: 1.4;
  font-size: 13px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .first {
    width: 100vw;
    height: auto;
    overflow: hidden;
  }

  .imageWrapper {
    width: 100vw;
    height: 450px;
    position: relative;
  }

  .firstDes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a9c9d99;
    color: white;
    text-align: center;
    width: 70%;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .firstDesWrapper {
    width: 90%;
    height: auto;
  }

  .firstDes h1 {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .leftAlignContent {
    text-align: center;
    color: white;
  }

  .leftAlignContent h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .leftAlignContent p {
    font-size: 16px;
    line-height: 1.6;
  }

  .third {
    width: 100%;
    padding: 20px;
  }

  .siemens {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 50px;
  }

  .siemensDes {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .siemensDes h2 {
    font-size: 24px;
  }

  .siemensDes h3 {
    font-size: 18px;
    text-align: center;
  }

  .siemensDes p {
    font-size: 14px;
    line-height: 1.6;
    margin-top: 20px;
    text-align: center;
  }

  .siemensImage {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .first {
    width: 100vw;
    height: auto;
    overflow: hidden;
  }

  .imageWrapper {
    width: 100vw;
    height: 300px;
    position: relative;
  }

  .firstDes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a9c9d99;
    color: white;
    text-align: center;
    width: 90%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .firstDesWrapper {
    width: 100%;
    height: auto;
  }

  .firstDes h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .leftAlignContent {
    text-align: center;
    color: white;
  }

  .leftAlignContent h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .leftAlignContent p {
    font-size: 14px;
    line-height: 1.6;
  }

  .third {
    width: 100%;
    padding: 20px;
  }

  .siemens {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 50px;
  }

  .siemensDes {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .siemensDes h2 {
    font-size: 24px;
  }

  .siemensDes h3 {
    font-size: 18px;
    text-align: center;
  }

  .siemensDes p {
    font-size: 14px;
    line-height: 1.6;
    margin-top: 20px;
    text-align: center;
  }

  .siemensImage {
    display: none;
  }
}
