.signupContainer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.signupWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.signupWrapper h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.signupWrapper p {
  font-size: 18px;
  margin-bottom: 30px;
}
.signupWrapper span {
  font-size: 15px;
}

.signupButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.signupButtonWrapper button:nth-last-of-type(1) {
  width: 320px;
  height: 40px;
  border: 1px solid #000;
  background-color: white;
  color: #000;
  font-size: 16px;
}
.googleButton {
  display: flex;
  align-items: center;
  background-color: white;
  color: #000;
  border: 1px solid #ccc;
  width: 320px;
  height: 48px;
  cursor: pointer;
}
.googleButton svg {
  margin-left: 10px;
}
.googleButton span {
  flex: 1;
  text-align: center;
  font-size: 16px;
}
.facebookButton {
  display: flex;
  align-items: center;
  background-color: #1877f2;
  color: white;
  border: none;
  width: 320px;
  height: 48px;
  cursor: pointer;
}
.facebookButton svg {
  margin-left: 10px;
}
.facebookButton span {
  flex: 1;
  text-align: center;
  font-size: 16px;
}

.buttonContent {
  display: flex;
  align-items: center;
}

.login {
  color: #237473;
  text-decoration: none;
  padding-left: 5px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 16px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
  margin: 0 8px;
}

.divider span {
  font-size: 14px;
  color: #000;
}
.signupEmailForm {
  cursor: pointer;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.formGroup {
  width: 320px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.signupLabel {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 110px;
  height: 48px;
  text-align: right;
}
.signupInput {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  font-size: 8px;
  color: red;
}

.signupButton {
  border: none;
  width: 320px;
  height: 48px;
  background-color: #ccc;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
.signupButton:hover {
  transition: 0.5s ease;
  background-color: gray;
  cursor: pointer;
}
.container {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin-top: 30px;
  text-align: center;
}

.checkbox {
  margin-right: 10px;
  vertical-align: middle;
}

.label {
  display: inline;
}

.toggleLink {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 10px;
}

.details {
  margin-top: 10px;
  color: #000;
  font-size: 12px;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 60px;
}
