.titleCategoryContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  box-sizing: border-box;
}

.input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  appearance: none;
}

.submitBtn {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 30px;
}

.submitBtn:hover {
  background: #0056b3;
}

.message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.success {
  background-color: lightgreen;
  color: green;
}

.error {
  background-color: lightcoral;
  color: red;
}

@media screen and (max-width: 480px) {
  .titleCategoryContainer {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    width: 92%;
  }

  .input,
  .select {
    font-size: 14px;
    padding: 8px;
  }

  .submitBtn {
    width: 92%;
    padding: 10px;
    font-size: 15px;
    margin-top: 30px;
  }

  .message {
    font-size: 14px;
    padding: 8px;
  }
}
