.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.imageWrapper {
  width: 100vw;
  height: 600px;
  position: relative;
}

.firstDes {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #1a9c9d99;
  color: white;
  width: 750px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.firstDesWrapper {
  width: 600px;
  height: 250px;
}
.firstDes h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}
.leftAlignContent {
  text-align: left;
  color: white;
  margin: 0 auto;
}
.leftAlignContent h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.leftAlignContent p {
  line-height: 1.8;
  font-size: 16px;
}

.second {
  width: 100vw;
  height: 600px;
  background-color: #0f2a44;
  display: flex;
  justify-content: center;
}
.secondWrapper {
  width: 1000px;
  height: auto;
  margin-top: 70px;
}

.secondWrapper h2 {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.secondGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.grid {
  width: 330px;
  height: 360px;
  background-color: #f0f0f0;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
}

.gridDes {
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.textOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: white;
  padding: 20px;
  text-align: left;
  overflow: hidden;
  transition:
    height 0.4s ease-in-out,
    transform 0.4s ease-in-out;
}

.textOverlay h3 {
  font-size: 23px;
  font-weight: bold;
  color: #138f8f;
}

.textOverlay p {
  margin-top: 20px;
  font-size: 12.5px;
  color: #000;
  line-height: 1.5;
}

.detailButton {
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #138f8f;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease-in-out;
}

.grid:hover .textOverlay {
  height: 150px;
}

.grid:hover .detailButton {
  opacity: 1;
}

.third {
  width: 100vw;
  height: 100%;
  background-color: #d1e0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.siemens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  height: 420px;
  gap: 50px;
  margin-top: 50px;
}
.siemensDes,
.siemensDes2 {
  flex: 1;
  padding-right: 20px;
}

.siemensImage {
  width: 370px;
  height: 210px;
  position: relative;
}

.siemensDes h2 {
  font-size: 32px;
  font-weight: bold;
}
.siemensDes h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.siemensDes p {
  font-size: 12.5px;
  line-height: 1.8;
  margin-top: 40px;
}
.siemensDes button {
  width: 142px;
  height: 40px;
  background-color: #109c9c;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}

.siemensDes button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.siemens2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  width: 1000px;
  height: 420px;
  gap: 50px;
}

.siemensDes2 h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  text-align: right;
}
.siemensDes2 p {
  font-size: 12.5px;
  line-height: 1.8;
  margin-top: 25px;
  text-align: left;
}
.siemensDes2 button {
  width: 142px;
  height: 40px;
  background-color: #109c9c;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}

.siemensDes2 button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.siemens3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  height: 420px;
  gap: 50px;
}
.siemensDes,
.siemensDes2,
.siemensDes3 {
  flex: 1;
}

.siemensDes3 h2 {
  font-size: 32px;
  font-weight: bold;
}
.siemensDes3 h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.siemensDes3 p {
  font-size: 12.5px;
  line-height: 1.8;
  margin-top: 40px;
}
.siemensDes3 button {
  width: 142px;
  height: 40px;
  background-color: #109c9c;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}

.siemensDes3 button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
