.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
}
.header {
  width: 100vw;
  height: 200px;
  background-color: #06062c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerTitle {
  width: 1000px;
  height: auto;
  text-align: right;
  color: white;
}
.headerTitle h2 {
  font-size: 28px;
  font-weight: bold;
}
.headerTitle h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 10px;
}

.wrapper {
  width: 100vw;
  height: 2500px;
  background-color: #d1e0ee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 1000px;
  height: auto;
}
.content h2 {
  font-size: 32px;
  font-weight: bold;
}
.imgP1 {
  display: flex;
  margin-bottom: 50px;
  margin-top: 10px;
}

.des1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 2;
  text-align: left;
  font-size: 13px;
  gap: 20px;
  margin-right: 20px;
}
.des1 h3 {
  font-size: 18px;
  font-weight: bold;
}
.des1 ul {
  padding-left: 20px;
}
.des1 li {
  list-style-type: disc;
}

.img1 {
  position: relative;
  width: 500px;
  height: 300px;
}

.imgP2 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 50px;
}

.des2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 2;
  text-align: left;
  font-size: 13px;
  gap: 20px;
  margin-left: 20px;
}
.des2 h3 {
  font-size: 18px;
  font-weight: bold;
}
.des2 ul {
  padding-left: 20px;
}
.des2 li {
  list-style-type: disc;
}

.img2 {
  position: relative;
  width: 500px;
  height: 300px;
  margin-right: 30px;
}
