.container {
  width: 100%;
  height: 100%;
}

.firstWrapper {
  width: 100vw;
  height: 700px;
  background-color: #06062c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstContent {
  text-align: right;
  width: 1000px;
  height: auto;
  color: white;
}
.firstContent h2 {
  font-size: 32px;
  font-weight: bold;
}
.firstContent h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}

.firstImgP {
  display: flex;
  margin-top: 30px;
}

.firstImg {
  position: relative;
  width: 528px;
  height: 450px;
  margin-right: 20px;
}

.firstDes {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  text-align: left;
  font-size: 13px;
}

.firstDes p:nth-of-type(n + 2) {
  margin-top: 15px;
}

.firstDes button {
  margin-top: auto;
  align-self: flex-end;
  width: 140px;
  height: 40px;
  background-color: #138f8f;
  font-weight: bold;
}
.firstDes button:hover {
  background-color: white;
  color: black;
}

.secondWrapper {
  width: 100vw;
  height: 700px;
  background-color: #0f2a44;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondContent {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;
  color: white;
  gap: 70px;
}
.secondContent h2 {
  font-size: 32px;
  font-weight: bold;
}

.secondDes {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.secondDes > div {
  display: flex;
  gap: 5px;
}

.secondDes h3 {
  font-size: 38px;
  margin: 0;
  color: #3cffda;
  font-weight: bold;
}

.secondDes div p {
  font-size: 14px;
  margin: 0;
  line-height: 1.5;
  word-wrap: break-word;
}

.thirdWrapper {
  width: 100vw;
  height: 550px;
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdContent {
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.thirdContent h2 {
  font-size: 28px;
  font-weight: bold;
}

.thirdDes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  line-height: 1.5;
}
.thirdDes p > strong {
  font-weight: bold;
}

.fourWrapper {
  width: 100vw;
  height: 800px;
  background-color: #d1e0ee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourContent {
  width: 1000px;
  height: auto;
}
.fourContent h2 {
  font-size: 32px;
  font-weight: bold;
}
.fourContent p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.fiveImgGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 80px;
  height: auto;
}

.fiveImg1 {
  width: 430px;
  height: 210px;
  position: relative;
}

.fiveDes1 {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.fiveDes1 h3 {
  font-size: 16px;
  font-weight: bolder;
  color: black;
}
