.container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

.sidebar {
  width: 10%;
  background-color: #808080;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.sidebar span {
  color: white;
  text-align: center;
}

.link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.link:hover {
  color: black;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menuList li {
  margin-bottom: 20px;
}

.menuButton {
  width: 100%;
  padding: 8px;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 16px;
}

.menuButton:hover {
  background-color: #e3eaee;
}

.content {
  width: 90%;
  background-color: white;
  padding: 24px;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .sidebar span {
    margin-top: 30px;
  }

  .menuList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menuList li {
    margin: 0 10px 10px 10px;
  }

  .menuButton {
    font-size: 14px;
    padding: 6px 10px;
  }

  .content {
    width: 100%;
    padding: 16px;
  }
}
