.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 10%;
  background-color: #808080;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.sidebar span {
  color: white;
  text-align: center;
}
.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menuList li {
  margin-bottom: 20px;
}

.menuButton {
  width: 100%;
  padding: 8px;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 16px;
}

.menuButton:hover {
  background-color: #e3eaee;
}

.content {
  width: 90%;
  background-color: white;
  padding: 24px;
}
