.table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 20px;
  border-spacing: 0;
}

.table th,
.table td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}
.table th {
  background-color: #f0f0f0;
}

.table tr:hover {
  background-color: #f9f9f9;
}

.postLink {
  color: black;
  text-decoration: none;
  display: inline-block;
  max-width: 500px; /* 필요에 따라 조정 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.postLink:hover {
  /* color: rgb(32, 108, 194); */
  color: rgb(24, 94, 175);
}

.pageInfo {
  font-size: 16px;
  margin: 0 10px;
}

.errorContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e0f2fe; /* 하늘색 배경 */
  color: #0369a1; /* 푸른 계열 텍스트 */
  border-bottom: 1px solid #90cdf4; /* 연한 파란색 테두리 */
  text-align: center;
  padding: 10px 0;
  z-index: 9999;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 14px;
  }

  .table th,
  .table td {
    padding: 8px;
    font-size: 14px;
  }

  .postLink {
    max-width: 150px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }

  .views svg {
    width: 14px;
    height: 14px;
  }

  .pagination {
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
  }

  .pageButton {
    padding: 8px 12px;
    font-size: 14px;
    margin: 3px;
  }

  .pageInfo {
    font-size: 14px;
  }
}
