.newsContainer {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.newsTitle {
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 70px;
  text-align: center;
}

.newsWrapper {
  max-width: 700px;
  height: auto;
  margin: 0 auto;
}

.newsContents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  height: auto;
  border: 1px solid #000;
  gap: 20px;
  padding: 20px;
}

.newsCimg {
}
.newsCt {
  font-size: 18px;
  margin: 0;
  text-align: left;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.pageButton {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pageButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pageButton:hover:not(:disabled) {
  background-color: #005bb5;
}

.pageInfo {
  font-size: 16px;
  margin: 0 10px;
}
