.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.content {
  width: 850px;
  height: auto;
  background-color: #fff;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ddd;
}

.header span {
  margin-right: 10px;
}

.divider {
  width: 750px;
  height: 1px;
  background-color: #ccc;
  margin: 40px auto;
}

.title {
  font-size: 32px;
  font-weight: 500;
  margin: 10px 0;
  line-height: 1.2;
}

.postContent {
  line-height: 1.4;
}

.postContent img {
  display: block;
  max-width: 100%;
  height: auto;
}

.menuIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
  position: relative;
  margin-left: auto;
}

.menuIcon:hover {
  background-color: #ccc;
}

.dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 100px;
  display: none; /* 기본적으로 숨김 */
}

.dropdown.active {
  display: block;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 5px 0;
}

.dropdown ul li {
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.dropdown ul li:hover {
  background-color: #f0f0f0;
}
