.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.content {
  width: 800px;
  height: auto;
  background-color: #fff;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ddd;
}

.header span {
  margin-right: 10px;
}

.divider {
  width: 800px;
  height: 1px;
  background-color: #ccc;
  margin: 40px auto;
}
