.container {
  width: 100%;
  height: 100%;
}

.firstWrapper {
  width: 100vw;
  height: 700px;
  background-color: #06062c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstContent {
  text-align: right;
  width: 1000px;
  height: auto;
  color: white;
}
.firstContent h2 {
  font-size: 32px;
  font-weight: bold;
}
.firstContent h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}

.firstImgP {
  display: flex;
  margin-top: 30px;
}

.firstImg {
  position: relative;
  width: 528px;
  height: 450px;
  margin-right: 20px;
}

.firstDes {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  text-align: left;
  font-size: 13px;
}

.firstDes p:nth-of-type(n + 2) {
  margin-top: 15px;
}

.firstDes button {
  margin-top: auto;
  align-self: flex-end;
  width: 140px;
  height: 40px;
  background-color: #138f8f;
  font-weight: bold;
}
.firstDes button:hover {
  background-color: white;
  color: black;
}

.secondWrapper {
  width: 100vw;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/timapulse2.jpg");
  background-size: cover; /* 배경 이미지가 영역을 덮도록 설정 */
  background-position: center; /* 배경 이미지를 가운데 정렬 */
  background-repeat: no-repeat; /* 배경 이미지가 반복되지 않도록 설정 */
}

.secondContent {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;
}

.secondContent h2 {
  font-size: 32px;
  font-weight: bold;
}

.secondContent p {
  margin-bottom: 50px;
  line-height: 1.5;
  font-size: 14px;
}

.secondDes {
  display: flex;
  gap: 150px;
}

.secondDes div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.secondDes div h2 {
  font-size: 38px;
  font-weight: bold;
  color: black;
}

.secondDes div h3 {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.secondDes div button {
  display: block;
  font-size: 15px;
  color: white;
  width: 210px;
  height: 40px;
  background-color: #282626;
}

.secondDes div button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.secondDes div p {
  font-size: 14px;
  margin: 0;
  line-height: 1.5;
  word-wrap: break-word;
}

.secondImg {
  width: 450px;
  height: 220px;
  position: relative;
  background-color: #ccc;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdWrapper {
  width: 100vw;
  height: 600px;
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
}

.thirdContent {
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}
.thirdContent h2 {
  font-size: 28px;
  font-weight: bold;
}

.thirdDes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  line-height: 1.5;
}
.thirdDes h3 {
  font-size: 20px;
  font-weight: bold;
}
.thirdDes p {
  font-size: 13px;
  line-height: 1.5;
}
.thirdDes p > strong {
  font-weight: bold;
}

.thirdImgP {
  display: flex;
  margin-top: 30px;
}

.thirdImg {
  position: relative;
  width: 320px;
  height: 180px;
  margin-right: 80px;
}

.thirdDes2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  text-align: left;
  gap: 20px;
}
.thirdDes2 h2 {
  font-size: 28px;
  font-weight: bold;
}
.thirdDes2 h3 {
  font-size: 20px;
  font-weight: bold;
}
.thirdDes2 p {
  font-size: 14px;
  line-height: 1.5;
}
.thirdDes2 p > strong {
  font-weight: bold;
}
.thirdDes2 ul {
}
.thirdDes2 li {
  list-style-type: disc;
  font-weight: bold;
}

.thirdImgP3 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.thirdDes3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  text-align: left;
  gap: 20px;
  margin-left: 40px;
}
.thirdDes3 p {
  font-size: 13px;
  line-height: 1.5;
  color: #003663;
}

.thirdImg3 {
  position: relative;
  width: 290px;
  height: 230px;
  background-color: #ccc;
}

.thirdImgP4 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.thirdImgP4 h3 {
  font-size: 20px;
  font-weight: bold;
}
.thirdImg4 {
  width: 900px;
  height: 540px;
  position: relative;
  background-color: #ccc;
  margin: 0 auto;
}

.thirdImg5 {
  width: 900px;
  height: 470px;
  position: relative;
  background-color: #ccc;
  margin: 0 auto;
}

.fourWrapper {
  width: 100vw;
  height: 2900px;
  background-color: #003663;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourContent {
  width: 1000px;
  height: auto;
  color: white;
}
.fourContent h2 {
  font-size: 32px;
  font-weight: bold;
}
.fourImgP1 {
  display: flex;
  margin-bottom: 50px;
}

.fourDes1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 2;
  text-align: left;
  font-size: 13px;
  gap: 20px;
  margin-right: 20px;
}
.fourDes1 h3 {
  font-size: 18px;
  font-weight: bold;
}
.fourDes1 ul {
  padding-left: 20px;
}
.fourDes1 li {
  list-style-type: disc;
}

.fourImg1 {
  position: relative;
  width: 470px;
  height: 160px;
}

.fourImgP2 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 50px;
}

.fourDes2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 2;
  text-align: left;
  font-size: 13px;
  gap: 20px;
  margin-left: 20px;
}
.fourDes2 h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}
.fourDes2 ul {
  padding-left: 20px;
}
.fourDes2 li {
  list-style-type: disc;
}

.fourImg2 {
  position: relative;
  width: 470px;
  height: 160px;
  margin-right: 30px;
}

.fourNewImg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 950px;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
}
.fourNewImg1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
}

.fourNewImg2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
}

.fourNewImg1_1 {
  background-color: white;
  width: 435px;
  height: 500px;
  padding: 20px;
}
.fourNewImg1_2 {
  background-color: white;
  width: 435px;
  height: 470px;
  padding: 20px;
}
.fourNewImg1_3 {
  background-color: white;
  width: 435px;
  height: 500px;
  padding: 20px;
}
.fourNewImg1_4 {
  background-color: white;
  width: 435px;
  height: 500px;
  padding: 20px;
}
.fourNewImg1_5 {
  background-color: white;
  width: 435px;
  height: 600px;
  padding: 20px;
}
.fourNewImg2_1 {
  background-color: white;
  width: 435px;
  height: 600px;
  padding: 20px;
}
.fourNewImg2_2 {
  background-color: white;
  width: 435px;
  height: 540px;
  padding: 20px;
}
.fourNewImg2_3 {
  background-color: white;
  width: 435px;
  height: 470px;
  padding: 20px;
}
.fourNewImg2_4 {
  background-color: white;
  width: 435px;
  height: 540px;
  padding: 20px;
}
.fourNewImg2_5 {
  background-color: white;
  width: 435px;
  height: 580px;
  padding: 20px;
}
.fourNewImgDes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fourNewImgDes h2 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.fourNewImgDes p {
  font-size: 13px;
  line-height: 1.5;
}
.fourNewImgDesImg {
  width: 390px;
  height: 230px;
  position: relative;
}
