.container {
  background-color: rgb(4, 4, 23);
  color: white;
  width: 100vw;
  height: 100%;
  text-align: center;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
  border-bottom: 5px solid #162481;
  padding-bottom: 10px;
  margin-top: 80px;
}

.tabContainer {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.tabWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabItem {
  cursor: pointer;
  font-weight: 600;
  border: 1px solid white;
  width: 320px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabItem:hover {
  background-color: #181851;
}
.activeTab {
  background-color: #181851;
  color: white;
}

.tabContent {
  margin-top: 10px;
  padding: 15px;
}
