.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
}

.firstWrapper {
  width: 100vw;
  height: 700px;
  background-color: #06062c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstContent {
  text-align: right;
  width: 1000px;
  height: auto;
  color: white;
}
.firstContent h2 {
  font-size: 32px;
  font-weight: bold;
}
.firstContent h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}

.firstImgP {
  display: flex;
  margin-top: 30px;
}

.firstImg {
  position: relative;
  width: 528px;
  height: 450px;
  margin-right: 20px;
}

.firstDes {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  text-align: left;
  font-size: 13px;
}

.firstDes p:nth-of-type(n + 2) {
  margin-top: 15px;
}

.firstDes button {
  margin-top: auto;
  align-self: flex-end;
  width: 140px;
  height: 40px;
  background-color: #138f8f;
  font-weight: bold;
}
.firstDes button:hover {
  background-color: white;
  color: black;
}

.secondWrapper {
  position: relative;
  width: 100vw;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.secondContent {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;
}

.secondDes {
  display: flex;
}

.secondDes2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 150px;
}

.secondDes2 h2 {
  font-size: 38px;
  font-weight: bold;
  color: black;
}

.secondDes2 h3 {
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

.secondDes2 button {
  display: block;
  font-size: 15px;
  color: white;
  width: 210px;
  height: 40px;
  background-color: #282626;
}

.secondDes2 button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.thirdWrapper {
  width: 100vw;
  height: 750px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.thirdContent {
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}
.thirdContent h2 {
  font-size: 28px;
  font-weight: bold;
}

.thirdImgP {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.thirdImgP > div {
  display: flex;
  margin-top: 30px;
}

.thirdImg {
  position: relative;
  width: 320px;
  height: 180px;
  margin-right: 80px;
  display: flex;
}

.thirdDes2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  text-align: left;
  gap: 10px;
}
.thirdDes2 p {
  font-size: 14px;
  line-height: 2;
}

.thirdDes2 p > strong {
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .firstWrapper {
    height: auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .firstContent {
    width: 100%;
    text-align: center;
  }

  .firstContent h2 {
    font-size: 24px;
  }

  .firstContent h1 {
    font-size: 28px;
    margin-top: 5px;
  }

  .firstImgP {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .firstImg {
    width: 100%;
    height: 250px;
    margin-right: 0;
  }

  .firstDes {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

  .firstDes p {
    margin-top: 10px;
  }

  .firstDes button {
    width: 100%;
    max-width: 180px;
    height: 40px;
    align-self: center;
    margin-top: 20px;
  }

  .secondWrapper {
    height: auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .secondContent {
    width: 100%;
    text-align: center;
    gap: 40px;
  }

  .secondDes {
    gap: 30px;
  }

  .thirdWrapper {
    height: auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .thirdContent {
    width: 100%;
  }

  .thirdContent h2 {
    font-size: 22px;
    text-align: center;
  }

  .thirdImg {
    width: 100%;
    height: 250px;
  }

  .thirdImgP {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .thirdDes2 {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    text-align: left;
    font-size: 12px;
    gap: 15px;
  }

  .thirdDes2 p {
    font-weight: bold;
    font-size: 13px;
    line-height: 1.5;
  }

  .thirdDes2 div {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
