.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  background-color: #040417;
}

.imageWrapper {
  width: 100vw;
  height: 600px;
  position: relative;
}

.firstDes {
  position: absolute;
  top: 40%;
  left: 66.1%;
  transform: translate(-50%, -50%);
  background-color: #1a9c9d99;
  color: white;
  text-align: center;
  width: 678px;
  height: 353px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.firstDesWrapper {
  width: 560px;
  height: 280px;
  text-align: left;
}
.firstDes h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}
.leftAlignContent {
  text-align: left;
  color: white;
  margin: 0 auto;
}
.leftAlignContent h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.leftAlignContent p {
  line-height: 1.6;
  font-size: 15px;
}

.second {
  width: 100vw;
  height: 100%;
  background-color: #d1e0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secondWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  height: 100%;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.secondDes {
  flex: 1;
  padding-right: 20px;
}

.secondImage {
  width: 370px;
  height: 210px;
  position: relative;
  align-self: flex-start;
}

.secondDes h2 {
  font-size: 32px;
  font-weight: bold;
}
.secondDes h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}
.secondDes p {
  font-size: 14px;
  line-height: 1.8;
  margin-top: 40px;
}
.secondUl {
  margin-top: 15px;
  padding-left: 20px;
}

.secondUl li {
  margin-top: 25px;
  list-style-type: disc;
  line-height: 1.6;
  font-size: 14px;
}
