.gridItemPost {
  display: flex;
  justify-content: space-between; /* 글과 이미지를 좌우 배치 */
  width: 100%;
  padding: 10px;
  gap: 20px;
  margin-top: 20px;
}

.gridItemPost h1 {
  font-size: 18px;
  margin: 0;
  text-align: left;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 최대 3줄까지 표시 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(1.2em * 3); /* 줄 간격 * 3줄 */
  color: black;
}

.gridItemPost img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

.created {
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
  color: black;
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  background-color: rgb(19, 26, 74);
  width: 100vw;
  height: 570px;
  text-align: center;
}

.imgSlice {
  width: 100vw;
  height: 400px;
  position: relative;
}

.imgIntroduceDetail {
  font-size: 15px;
  font-weight: bold;
}
.article {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.f {
  width: 250px;
  height: 180px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.f:hover {
  background-color: rgb(19, 143, 143);
}
.f h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.f p {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 15px;
}
.f span {
  font-weight: bold;
}

.section1 {
  background-color: #333333;
  width: 100vw;
  height: 370px;
  text-align: center;
}

.article1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.s {
  width: 320px;
  height: 250px;
  color: white;
}
.sHeader {
  width: 320px;
  height: 40px;
  background-color: rgb(19, 26, 74);
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.sContainer {
  width: 320px;
  height: 240px;
  background-color: #909eaa;
  border-radius: 0 0 10px 10px;
  /* Flexbox로 변경 */
  display: flex;
  flex-direction: column; /* 아이템을 세로로 배치 */
  justify-content: space-between; /* 아이템 사이에 공간을 균등하게 분배 */
  padding: 15px; /* 패딩을 sContainer로 이동 */
}
.sContainer2 {
  width: 320px;
  height: 240px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding-top: 15px;
}
.sContent {
  width: 280px;
  height: 160px;
  margin: 0 auto;
}
.sContent1 {
  /* 고정 높이 제거, flex-grow로 남은 공간 차지 */
  flex-grow: 1;
  overflow-y: auto; /* 스크롤을 이 컨테이너에 직접 적용 */
  margin: 0;
  width: 100%;
}

.sContentSub {
  /* 고정 높이 및 불필요한 스타일 제거 */
  width: 100%;
  height: auto;
}

.sFooter {
  /* sFooter는 버튼 크기에 맞게 자동으로 높이가 조절됩니다. */
  text-align: center; /* 버튼을 가운데 정렬 */
  padding-top: 10px; /* 내용과의 간격 */
}
.sButton {
  width: 200px;
  height: 40px;
  background-color: #191919;
  font-weight: bold;
  border-radius: 5px;
  font-size: 13px;
  letter-spacing: 2px;
}
.sHeader2 {
  display: flex;
  width: 320px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.sHeader2Sub {
  width: 107px;
  height: 40px;
  background-color: #9eafbf;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}
.sHeader2Sub:hover {
  background-color: rgb(19, 26, 74);
}
.sContentSub3 {
  width: 280px;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.activeTab {
  background-color: rgb(19, 26, 74);
  color: white;
}

.section2 {
  background-color: rgb(19, 26, 74);
  width: 100vw;
  height: 140px;
  color: #adb4e3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customerHeading {
  width: 100px;
  height: 50px;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.4;
  text-align: right;
}

@keyframes customerSlice {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.customerContainer {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customerSlice {
  position: relative;
  overflow: hidden;
  width: 700px;
}
.customerSliceAnimation {
  display: flex;
  gap: 5px;
  animation: customerSlice 20s linear infinite;
  width: max-content;
}
.customerWrapper {
  flex: none;
  width: 93px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customerWrapper:hover {
  background-color: #333333;
  cursor: pointer;
}

.arrowLeft {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*최대 크기 1024px*/
  .section {
    height: auto; /* 세로 높이 자동 조정 */
  }
  .imgSlice {
    position: relative;
    width: 100%;
  }
  .imgIntroduceTitle {
    font-size: 14px; /* 글씨 크기 줄이기 */
    font-weight: bold;
    position: absolute;
    top: -50px;
    right: 0px;
    left: 0px;
    text-align: center;
    color: white;
    cursor: pointer;
  }

  .imgIntroduceDec {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 40px;
    right: 0px;
    left: 0px;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  .imgIntroduceDetail {
    font-size: 14px; /* 글씨 크기 줄이기 */
    font-weight: bold;
    position: absolute;
    top: 150px;
    right: 0px;
    left: 0px;
    text-align: center; /* 중앙 정렬 */
    color: white;
    cursor: pointer;
  }

  /* .article 부분에서 h2만 보이게 수정 */
  .article {
    width: 100%; /* 너비를 100%로 설정 */
    flex-direction: column; /* 열 방향으로 배치 */
    margin-top: 30px;
  }

  .f {
    width: 100%; /* 각 항목의 너비를 100%로 설정 */
    height: 40px; /* 높이를 자동으로 설정 */
    margin-bottom: 20px; /* 항목 간 간격 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  /* h2만 보이도록 설정하고 나머지 요소는 숨김 */
  .f h2 {
    font-size: 18px; /* 제목 크기 축소 */
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }

  .f p,
  .f span {
    display: none; /* p, span 태그 숨김 */
  }
  /* 이미지 크기 조정 */
  .imgIntroduce img {
    display: none;
  }

  /* .section1 {
    display: none;
  } */

  .s:nth-of-type(1) {
    display: none;
  }
  .customerContainer {
    width: 550px;
  }
  .article2 {
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  /*최대 크기 480px*/
  .section {
    height: auto; /* 세로 높이 자동 조정 */
  }
  .imgSlice {
    position: relative;
    width: 100%;
  }
  .imgIntroduceTitle {
    font-size: 14px; /* 글씨 크기 줄이기 */
    font-weight: bold;
    position: absolute;
    top: -50px;
    right: 0px;
    left: 0px;
    text-align: center;
    color: white;
    cursor: pointer;
  }

  .imgIntroduceDec {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 40px;
    right: 0px;
    left: 0px;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  .imgIntroduceDetail {
    font-size: 14px; /* 글씨 크기 줄이기 */
    font-weight: bold;
    position: absolute;
    top: 150px;
    right: 0px;
    left: 0px;
    text-align: center; /* 중앙 정렬 */
    color: white;
    cursor: pointer;
  }

  /* .article 부분에서 h2만 보이게 수정 */
  .article {
    width: 100%; /* 너비를 100%로 설정 */
    flex-direction: column; /* 열 방향으로 배치 */
    margin-top: 30px;
  }

  .f {
    width: 100%; /* 각 항목의 너비를 100%로 설정 */
    height: 40px; /* 높이를 자동으로 설정 */
    margin-bottom: 20px; /* 항목 간 간격 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  /* h2만 보이도록 설정하고 나머지 요소는 숨김 */
  .f h2 {
    font-size: 18px; /* 제목 크기 축소 */
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }

  .f p,
  .f span {
    display: none; /* p, span 태그 숨김 */
  }
  /* 이미지 크기 조정 */
  .imgIntroduce img {
    display: none;
  }

  .section1 {
    display: none;
  }
  .customerContainer {
    width: 200px;
  }
  .article2 {
    gap: 20px;
  }
}
