.container {
  background-color: #242323;
  width: 100vw;
  height: 100%;
  color: white;
  text-align: center;
  padding: 70px 0;
  box-sizing: border-box;
}

.container h1 {
  font-weight: bold;
  font-size: 42px;
}
.container p {
  margin-top: 70px;
  font-weight: bold;
  font-size: 24px;
  font-style: oblique;
  line-height: 1.6;
}
.container span {
  display: block;
  margin-top: 70px;
}

.resume {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
}
.resume div:first-child {
  width: 120px;
  height: 35px;
  border-radius: 20px;
}
.resume div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 35px;
  border-radius: 20px;
  background: linear-gradient(to right, blue, orange);
}
