.container {
  background-color: rgb(4, 4, 23);
  color: white;
  width: 100vw;
  height: 100%;
  text-align: center;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
  border-bottom: 5px solid #162481;
  padding-bottom: 10px;
  margin-top: 80px;
}

.historyImg {
  width: 1000px;
  height: 350px;
  position: relative;
  margin-top: 60px;
}

.line {
  width: 550px;
  border-bottom: 1px solid white;
  margin: 0 auto;
  margin-top: 90px;
}

.service {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.serviceHistory {
  width: 500px;
  height: auto;
  display: flex;
  text-align: left;
  margin-top: 30px;
}
.serviceHistory h2 {
  color: #00d2aa;
  font-size: 22px;
  font-weight: bold;
  margin-right: 20px;
}
.serviceHistory p {
  display: inline;
  font-size: 12px;
}

.line2 {
  width: 550px;
  border-bottom: 1px solid white;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 120px;
}

.timeline {
  width: 750px;
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  gap: 10px 20px;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
}

.timelineItem {
  display: contents;
}

.date {
  color: #00d2aa;
  font-weight: bold;
  font-size: 12px;
}

.description {
  color: #ffffff;
  font-size: 12px;
}

.detail {
  color: #b0c4de;
  font-size: 12px;
}

.blank {
  margin-top: 70px;
}
