.container {
  background-color: rgb(4, 4, 23);
  color: white;
  width: 100vw;
  height: 100%;
  text-align: center;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
  border-bottom: 5px solid #162481;
  padding-bottom: 10px;
  margin-top: 80px;
}

.subTitle {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-top: 80px;
  display: inline-block;

  border-bottom: 3px solid white;
  padding-bottom: 10px;
}

.tabBtnWrapper {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tabBtn {
  width: 150px;
  height: 40px;
  border: 1px solid white;
  background-color: cadetblue;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.tabBtn:hover {
  background-color: #004d4d;
}

.activeTab {
  background-color: #162481;
}

.tabBtn span {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 10px;
}

.tabContent {
  margin-top: 40px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 20px;
}

.gridItem {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 400px;
  height: 200px;
  margin: 0 auto;
}

.moreBtn {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  background-color: #162481;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.moreBtn:hover {
  background-color: #0a1c5a;
}
