.container {
  background-color: rgb(4, 4, 23);
  color: white;
  width: 100vw;
  height: 100%;
  text-align: center;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
  border-bottom: 5px solid #162481;
  padding-bottom: 10px;
  margin-top: 80px;
}
