.container {
  background-color: black;
  color: white;
  width: 100vw;
  height: 100%;
  text-align: center;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
  border-bottom: 5px solid #162481;
  padding-bottom: 10px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.location {
  width: 550px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 70px;
}

.locationTitle {
  display: flex;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
}

.locationSquare {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  margin-right: 5px;
  border-radius: 5px;
}

.line {
  width: 600px;
  border-bottom: 1px solid white;
  margin: 0 auto;
  margin-top: 20px;
}

.wayContainer {
  width: 550px;
  height: 250px;
  margin: 0 auto;
  margin-top: 20px;
}
.wayBus {
  font-size: 12px;
  text-align: left;
  margin-top: 20px;
}
.wayBus p {
  line-height: 1.6;
}
