.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
}

.firstWrapper {
  width: 100vw;
  height: 700px;
  background-color: #06062c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstContent {
  text-align: right;
  width: 1000px;
  height: auto;
  color: white;
}
.firstContent h2 {
  font-size: 32px;
  font-weight: bold;
}
.firstContent h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}

.firstImgP {
  display: flex;
  margin-top: 30px;
}

.firstImg {
  position: relative;
  width: 528px;
  height: 450px;
  margin-right: 20px;
}

.firstDes {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  text-align: left;
  font-size: 13px;
}

.firstDes p:nth-of-type(n + 2) {
  margin-top: 15px;
}

.firstDes button {
  margin-top: auto;
  align-self: flex-end;
  width: 140px;
  height: 40px;
  background-color: #138f8f;
  font-weight: bold;
}
.firstDes button:hover {
  background-color: white;
  color: black;
}

.secondWrapper {
  position: relative; /* 필수: Image fill 작동 위해 */
  width: 100vw;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 배경 이미지가 삐져나오지 않도록 */
}

.secondContent {
  position: relative; /* 이미지 위에 보이게 */
  z-index: 1; /* 배경보다 위로 */
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;
}

.secondContent h2 {
  font-size: 32px;
  font-weight: bold;
}

.secondContent p {
  margin-bottom: 50px;
  line-height: 1.5;
  font-size: 14px;
}

.secondDes {
  display: flex;
  gap: 150px;
}

.secondDes div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.secondDes div h2 {
  font-size: 38px;
  font-weight: bold;
  color: black;
}

.secondDes div h3 {
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

.secondDes div button {
  display: block;
  font-size: 15px;
  color: white;
  width: 210px;
  height: 40px;
  background-color: #282626;
}

.secondDes div button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.secondDes div p {
  font-size: 14px;
  margin: 0;
  line-height: 1.5;
  word-wrap: break-word;
}

.thirdWrapper {
  width: 100vw;
  height: 3900px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.thirdPoint {
  width: 1000px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2개씩 가로로 */
  gap: 2rem; /* 요소 간 간격 */
  margin-bottom: 50px;
}

.thirdPoint ul h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.thirdPoint ul h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.thirdPoint ul li {
  line-height: 1.6;
}

.thirdContent {
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}
.thirdContent h2 {
  font-size: 28px;
  font-weight: bold;
}

.thirdDes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  line-height: 1.5;
}
.thirdDes h3 {
  font-size: 20px;
  font-weight: bold;
}
.thirdDes p {
  font-size: 13px;
  line-height: 1.5;
}
.thirdDes p > strong {
  font-weight: bold;
}

.thirdImgP {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}

.thirdImg {
  position: relative;
  width: 285px;
  height: 260px;
  margin-left: 80px;
  flex-shrink: 0;
}
.thirdImg2 {
  position: relative;
  width: 285px;
  height: 260px;
  margin-right: 80px;
  flex-shrink: 0;
}
.thirdImg3 {
  position: relative;
  width: 350px;
  height: 270px;
  margin-left: 80px;
  flex-shrink: 0;
}
.thirdImg4 {
  position: relative;
  width: 285px;
  height: 260px;
  margin-left: 80px;
  flex-shrink: 0;
}

.thirdPoint2 {
  width: 1000px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2개씩 가로로 */
  gap: 2rem; /* 요소 간 간격 */
  margin-top: 20px;
}

.thirdPoint2 ul h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.thirdPoint2 ul h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.thirdPoint2 ul li {
  line-height: 1.6;
}

.thirdPoint2_1 h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 50px;
}
.thirdPoint2_1 p {
  line-height: 1.4;
}

.thirdPoint2Img1 {
  position: relative;
  width: 1000px;
  height: 200px;
  flex-shrink: 0;
  margin-bottom: 30px;
}

.thirdPointDeC {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.thirdPointDe {
  flex: 1;
}
.thirdPointDe h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.thirdPointDe p {
  font-size: 15px;
  margin-bottom: 30px;
  line-height: 1.2;
}
.thirdPointDe ul li {
  line-height: 1.6;
}

.thirdPointDeImg {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.thirdPoint2Img1_2 {
  position: relative;
  width: 500px;
  height: 300px;
  flex-shrink: 0;
}
.thirdPointDeImg2 {
  display: flex;
}

.thirdPoint2Img1_3 {
  position: relative;
  width: 700px;
  height: 200px;
}
.thirdPoint2Img1_4 {
  position: relative;
  width: 300px;
  height: 180px;
}

.thirdImg2_1,
.thirdImg3_1 {
  position: relative;
  width: 50%;
  height: 150px;
}
.thirdPointDeImg {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.thirdPointDeImgBottom {
  display: flex;
  gap: 1rem;
}

.thirdImg1_1 {
  width: 805px;
  height: 500px;
  position: relative;
}
.thirdImg1_2 {
  width: 760px;
  height: 380px;
  position: relative;
}
.thirdImg1_3 {
  width: 770px;
  height: 210px;
  position: relative;
}
.thirdImg1_4 {
  width: 770px;
  height: 185px;
  position: relative;
}
.thirdImg1_5 {
  width: 800px;
  height: 310px;
  position: relative;
}

.thirdImgP3 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.thirdDes3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  text-align: left;
  gap: 20px;
  margin-left: 40px;
}
.thirdDes3 p {
  font-size: 13px;
  line-height: 1.5;
  color: #003663;
}

.thirdImgP4 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.thirdImgP4 h3 {
  font-size: 20px;
  font-weight: bold;
}
.thirdImg4 {
  width: 900px;
  height: 540px;
  position: relative;
  background-color: #ccc;
  margin: 0 auto;
}

.thirdImg5 {
  width: 900px;
  height: 470px;
  position: relative;
  background-color: #ccc;
  margin: 0 auto;
}

.fourWrapper {
  width: 100vw;
  height: 2900px;
  background-color: #003663;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourContent {
  width: 1000px;
  height: auto;
  color: white;
}
.fourContent h2 {
  font-size: 32px;
  font-weight: bold;
}
.fourImgP1 {
  display: flex;
  margin-bottom: 50px;
}

.fourDes1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 2;
  text-align: left;
  font-size: 13px;
  gap: 20px;
  margin-right: 20px;
}
.fourDes1 h3 {
  font-size: 18px;
  font-weight: bold;
}
.fourDes1 ul {
  padding-left: 20px;
}
.fourDes1 li {
  list-style-type: disc;
}

.fourImg1 {
  position: relative;
  width: 470px;
  height: 160px;
}

.fourImgP2 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 50px;
}

.fourDes2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 2;
  text-align: left;
  font-size: 13px;
  gap: 20px;
  margin-left: 20px;
}
.fourDes2 h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}
.fourDes2 ul {
  padding-left: 20px;
}
.fourDes2 li {
  list-style-type: disc;
}

.fourImg2 {
  position: relative;
  width: 470px;
  height: 160px;
  margin-right: 30px;
}

.fourNewImg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 950px;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
}
.fourNewImg1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
}

.fourNewImg2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
}

.fourNewImg1_1 {
  background-color: white;
  width: 435px;
  height: 500px;
  padding: 20px;
}
.fourNewImg1_2 {
  background-color: white;
  width: 435px;
  height: 470px;
  padding: 20px;
}
.fourNewImg1_3 {
  background-color: white;
  width: 435px;
  height: 500px;
  padding: 20px;
}
.fourNewImg1_4 {
  background-color: white;
  width: 435px;
  height: 500px;
  padding: 20px;
}
.fourNewImg1_5 {
  background-color: white;
  width: 435px;
  height: 600px;
  padding: 20px;
}
.fourNewImg2_1 {
  background-color: white;
  width: 435px;
  height: 600px;
  padding: 20px;
}
.fourNewImg2_2 {
  background-color: white;
  width: 435px;
  height: 540px;
  padding: 20px;
}
.fourNewImg2_3 {
  background-color: white;
  width: 435px;
  height: 470px;
  padding: 20px;
}
.fourNewImg2_4 {
  background-color: white;
  width: 435px;
  height: 540px;
  padding: 20px;
}
.fourNewImg2_5 {
  background-color: white;
  width: 435px;
  height: 580px;
  padding: 20px;
}
.fourNewImgDes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fourNewImgDes h2 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.fourNewImgDes p {
  font-size: 13px;
  line-height: 1.5;
}
.fourNewImgDesImg {
  width: 390px;
  height: 230px;
  position: relative;
}

@media screen and (max-width: 480px) {
  /*최대 크기 480px*/
  .firstWrapper {
    height: auto;
    padding: 30px 15px; /* 좌우 여백 추가 */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .firstContent {
    width: 100%;
    text-align: center;
  }

  .firstContent h2 {
    font-size: 24px; /* 폰트 크기 줄이기 */
  }

  .firstContent h1 {
    font-size: 28px; /* 폰트 크기 줄이기 */
    margin-top: 5px;
  }

  .firstImgP {
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬 */
    margin-top: 20px;
  }

  .firstImg {
    width: 100%;
    height: 250px; /* 이미지 크기 조절 */
    margin-right: 0;
  }

  .firstDes {
    width: 100%;
    text-align: center;
    font-size: 12px; /* 폰트 크기 줄이기 */
  }

  .firstDes p {
    margin-top: 10px;
  }

  .firstDes button {
    width: 100%;
    max-width: 180px;
    height: 40px;
    align-self: center;
    margin-top: 20px;
  }

  .secondWrapper {
    height: auto;
    padding: 30px 15px; /* 좌우 여백 추가 */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .secondContent {
    width: 100%;
    text-align: center;
    gap: 40px; /* 간격 조정 */
  }

  .secondContent h2 {
    font-size: 24px; /* 제목 크기 조절 */
  }

  .secondDes {
    gap: 30px; /* 항목 간격 줄이기 */
  }

  .secondDes > div {
    flex-direction: column; /* 수직 정렬 */
    align-items: center; /* 중앙 정렬 */
    text-align: center;
    gap: 10px;
  }

  .secondDes h3 {
    font-size: 28px; /* 숫자 크기 조절 */
  }

  .secondDes div p {
    font-size: 13px; /* 글자 크기 줄이기 */
    line-height: 1.4;
  }
  /* 최대 크기 480px */
  .thirdWrapper {
    height: auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .thirdContent {
    width: 100%;
  }

  .thirdContent h2 {
    font-size: 22px;
    text-align: center;
  }

  .thirdSubContent {
    width: 100%;
  }

  .thirdImg {
    width: 100%;
    height: 250px;
  }

  .thirdImgDes p {
    font-size: 12px;
  }

  .thirdDes {
    font-size: 12px;
    text-align: left;
    padding: 0 15px;
  }

  .thirdImgP {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .thirdImg2 {
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }

  .thirdDes2 {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    text-align: left;
    font-size: 12px;
    gap: 15px;
  }

  .thirdDes2 h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .thirdDes2 p {
    font-weight: bold;
    font-size: 13px;
    line-height: 1.5;
  }

  .thirdDes2 div {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .thirdDes2 div ul {
    padding-left: 15px;
  }

  .thirdDes2 div li {
    list-style-type: disc;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .thirdDes2 div p {
    margin: 10px 0;
    font-weight: 500;
    font-size: 13px;
  }

  /* .thirdDes2 {
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
  }

  .thirdDes2 ul {
    padding-left: 0;
  }

  .thirdDes2 li {
    list-style-type: none;
    font-size: 12px;
    line-height: 1.5;
  } */
  .fourWrapper {
    height: auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .fourContent {
    width: 100%;
  }
  .fourContent h2 {
    font-size: 28px;
    text-align: center;
  }
  .fourImgP1,
  .fourImgP2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    gap: 30px;
    margin-top: 70px;
  }
  .fourDes1,
  .fourDes2 {
    width: 100%;
    font-size: 12px;
    padding: 0 10px;
    margin: 0;
  }
  .fourDes1 h3,
  .fourDes2 h3 {
    font-size: 16px;
    text-align: center;
  }
  .fourImg1,
  .fourImg2,
  .fourImgD,
  .fourImgD2,
  .fourImgD3,
  .fourImgD4,
  .fourImgD5 {
    width: 100%;
    height: 200px;
    margin: 10px 0;
  }

  .fiveWrapper {
    height: auto;
    padding: 50px 0;
  }

  .fiveContent {
    width: 90%;
  }

  .fiveHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .fiveHeader h2 {
    font-size: 24px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .fiveHeader button {
    width: 120px;
    height: 40px;
    font-size: 14px;
  }

  .fiveImgGrid {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 15px;
    margin-top: 30px;
  }

  .fiveImgP {
    margin-top: 30px;
  }

  .fiveImg1 {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3; /* 가로 4: 세로 3 비율 유지 */
  }

  .fiveDes1 h3 {
    font-size: 18px;
  }
}
